
.navbar {
  background: linear-gradient(-90deg,var(--red) 0%,var(--blue) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.navbar__logo {
  width: 96px;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  color: white;
}